/* CSS för att justera position (Flexbox) samt lägga in bakgrundsbild*/
#bakgrund {
    background-image: url(https://wallpapercave.com/wp/VcdBKJa.jpg);
    height: 100vh;
    padding: 0 15px;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
}
#bakgrund  h1{
    background-color: rgb(227, 230, 234);
    padding: 10px;
    border: 2px solid;
    border-bottom-style: none;
    
/* en till showcase css för att få bort överkanten*/
}
#bakgrund p {
    border-top-style: none;
    background-color: rgb(227, 230, 234);
    padding: 10px;
    border: 2px solid;
}    
/* css för knappen */
.knapp {
    text-decoration: none;
    font-size: 28px;
    color: white;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid;
    border-color: black;
    background-color: rgb(36, 59, 89)
    
}
.knapp:hover{
    background-color: gray;
    color: black;
}

body {
    margin: 0;
    font-size: 20px;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #c0c1c4;

}

/* tar bort gap högst upp på sidan*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100px;
    display: block;
    background-image: linear-gradient(#111c2b,#3d6499);
}
/* Skapar en inre header så att alla delar i headern lokaliserar sig i mitten*/
.inre_header {
    width: 1000px;
    height: 100%;
    display:block;
    margin: 0 auto;
    background-image: linear-gradient(#111c2b,#3d6499);
}

.Rubrik h1 {
    height: 100%;
    color: white;
    vertical-align: middle;
/* globalmeny är css för den översta navigationsmenyn börjar*/
}
.globalmeny {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.globalmeny li {
    float: left;
}
.globalmeny li a{
    display: block;
    color: rgb(162, 183, 216);
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
.globalmeny li a:hover{
    background-color: #3d4044
}

.active {
    background-color: #3d4044
}
/*slutar*/


.container {
    position: relative;
}
.bildegenskaper {
    width: 100%;
    height: 100%;
}
.grå-ruta{
    position:absolute;
    height: 76%;
    width: 60%;
    bottom: 18%;
    left: 20%;
    opacity: 0.97;
    background-color: gray;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
}
/*--startsida bilder--*/
.ingångsbild{
    height: 20vh;
    position: absolute;
    right: 20%;
    top: 68%;
}
.ingångstext{
    position: absolute;
    right: 23%;
    top: 95%;
}
.soldatbild {
    position: absolute;;
    left: 8em;
    top: 24em;
}
.soldattext {
    position: absolute;
    left: 8em;
    top: 41em;
}


/*--footer--*/
footer {
    width: 100%;
    background-color:#0c1e3a;
    position: fixed;
    bottom: 0%;
    left: 0%;
    padding: 0.8vh;
    
    
}
.footermeny {
    list-style-type: none;
    margin: 0;
    padding: 30px;
    
}
.footermeny li {
    display: inline-block;
    text-align: center;
}
.footermeny li a{
    display: block;
    color: rgb(158, 120, 26);
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
.footermeny li a:hover{
    background-color: #3d4044
}
/*--footer slutar--*/


/*--trespaltslayout inblandade länder sidan--*/
#bakgrund3 {
    background-image: url(https://wallpaperplay.com/walls/full/2/3/7/311532.jpg);
}
.column {
    float: left;
    padding: 30px;
    height: 550px;
    position: relative;
    top: 5em;
    margin: 0px 20px;
}
.introduktion {
    background-color: gray;
    width: 30%;
 }
 .axelmakterna {
     background-color: #5b1518;   
     width: 30%;
     color: white;
 }
 .allierade {
     background-color:#162f59;
     width: 30%;
     color: white;
 }
 .allieradeflaggor {
     position:absolute;
     left: 21vw;
     top: 34vh;
 }
.rader:after {
    content: "";
    display: table;
    clear: both;
}

/* gör sidan responsiv, när skärmen är mindre än 600px bred så lägger sig rutorna på varandra*/
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  /* runda kanter */
  .rund {
      border-radius: 15px;
  }

  /* lokal meny viktiga slag */
 
  .lokalmeny {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    border: 2px solid black;
    position: absolute;
    left: 0%;
    bottom: 50%;
    width: 15%;
    
}
.lokalmeny li {
    border-bottom: 2px solid black;

}
.lokalmeny li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 1.5vh;
}
.lokalmeny li:last-child {
    border-bottom: none;
}
.lokalmeny li a:hover{
    background-color: #3d4044;
    color: white;
}

.lokalmenyactive {
    background: linear-gradient(to left, #373b44, #4286f4);
}

/* statistik tabeller */
table,th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 0.5vw;
}
/* varannan rad är olika färger, blir en zebratabell */ 
tr:nth-child(even) {
    background-color: #162f59;
    color: white;
}
tr:nth-child(odd) {
    background-color: #526991;
}
.auschwitzbild {
    height: 20vh;
    width: 20vw;
    position: absolute;
    bottom: 16vh;
    border-radius: 15px;
}
.auschwitztext {
    position: absolute;
    left: 24vw;
    bottom: 16vh;
    width: 30vw;
}