/* CSS för att justera position (Flexbox) samt lägga in bakgrundsbild*/
#bakgrund {
    background-image: url(https://wallpapercave.com/wp/VcdBKJa.jpg);
    height: 100vh;
    padding: 0 15px;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
}
#bakgrund  h1{
    background-color: rgb(227, 230, 234);
    padding: 10px;
    border: 2px solid;
    border-bottom-style: none;
    
/* en till showcase css för att få bort överkanten*/
}
#bakgrund p {
    border-top-style: none;
    background-color: rgb(227, 230, 234);
    padding: 10px;
    border: 2px solid;
}    
/* css för knappen */
.knapp {
    text-decoration: none;
    font-size: 28px;
    color: white;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid;
    border-color: black;
    background-color: rgb(36, 59, 89)
    
}
.knapp:hover{
    background-color: gray;
    color: black;
}

body {
    margin: 0;
    font-size: 20px;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #c0c1c4;

}

/* tar bort gap högst upp på sidan*/
*{
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 100px;
    display: block;
    background-image: linear-gradient(#111c2b,#3d6499);
}
/* Skapar en inre header så att alla delar i headern lokaliserar sig i mitten*/
.inre_header {
    width: 1000px;
    height: 100%;
    display:block;
    margin: 0 auto;
    background-image: linear-gradient(#111c2b,#3d6499);
}

.Rubrik h1 {
    height: 100%;
    color: white;
    vertical-align: middle;
/* globalmeny är css för den översta navigationsmenyn */
}
.globalmeny {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.globalmeny li {
    float: left;
}
.globalmeny li a{
    display: block;
    color: rgb(162, 183, 216);
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
.globalmeny li a:hover{
    background-color: #3d4044
}
.active {
    background-color: #3d4044
}


